<h1 style="text-align:center">HOME</h1>
<div class="divContainer">
  {{#each products}}
    <div class='borderBox'>
      <div>
        <p>Producto: {{this.title}}</p>
        <p>Codigo: {{this.code}}</p>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoría: {{this.category}}</p>
      </div>
    </div>
  {{/each}}
</div>

